body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.profile-container {
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-link {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
}

.profile-content {
    padding: 20px;
}

.profile-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-content p {
    margin: 10px 0;
}

.profile-content a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    margin-top: 20px;
}

.links a {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
.back{
    text-decoration: none;
    color: #333;
}
